<div class="icon-card">
  <div class="icon-card__main">
    <div class="icon-card__main__left">
     <h3><%= number %></h3>
    </div>
    <div class="icon-card__main__right">
     <%=image_tag image%>
    </div>
  </div>
  <div class="icon-card__footer">
    <p><%= text  %></p>
  </div>
</div>
