.header1{
 background-color: $yellow;
 color: black;
 height: 100vh;



h1{
  color: black;
  font-family: $headers-font;
  font-weight: 800;
  font-size: $fsize-bigger;
}

  // &__line{
  //   &,
  //   &::before,
  //   &::after{
  //     display: inline-block;
  //     width: 15rem;
  //     height: 5px;
  //     background-color: $orange;

  //   }
  // }
}
